body {
    background-color: white;
    padding: 5rem;
    font-family:Arial, Helvetica, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    color: white;
   margin-left: 2.5rem;
   font-size: 3rem;
   font-weight: lighter;
    
}

#tasks {
    display: inline-block;
    flex-basis: 73%;
    height: 2.8rem;
    
    border-radius: 10px;
    border: 1px solid #9BA3AF;
    margin-right: 0.5rem;
    font-size: 1rem;
  }

 


ul {
     

    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 1rem 2.5rem 3rem 2.5rem;
    
    

   
    
    
    
}


.entertext {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    
   
    
    
}




li {
    border: 1px solid #9BA3AF;
    
    padding: 0.3rem;
    background-color: white;
    flex-basis: 100%;
    list-style-type: none;
    height: 2.8rem;
    padding-top: 0.7rem;
    
    
}



li:hover {
    background-color: #E9F2FD;
}




button {
    float:right;
    background-color: white;
    border: none;
}

/*@media (min-width: 700px) {
.entertext {
    max-width: 34rem;
}
}
*/





.buttonaddtext {
    background-color: #2F80ED; 
    border-radius: 10px;
    border: none;
    color: white;
    padding: 0.75rem 1rem 0.80rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }
    



.outerrim {

    border-radius: 20px;
    padding-top: 0.8rem;
    padding-bottom: 3rem;
    
    max-width: 42rem;
    margin: auto;



    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
    background-attachment: fixed;

    
}


input:checked + span {
	
    color: #9BA3AF;
    text-decoration: line-through; 
}


.checkbox {
    accent-color: #9BA3AF;
  }

  

  #first {
    border-radius: 10px 10px 0 0;
  }
  
  #last {
    border-radius: 0 0 10px 10px;
  }